body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/*------GLOBAL STYLES-----*/
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
.main {    

}

/*----HEAD-----*/

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}
 

/*----HEADER-----*/


.header-container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    
    }

.header-link-logo { 
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;   
    margin-right: 76px;
}



.span-logo {
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-nav {

}


.header-nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
   list-style-type: none;
   display: flex;
   align-items: center;
   gap: 40px;
   


}
.header-nav-item {
    
    
    
}

.header-link {
    
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        padding: 24px 0;
        display: block;
}

.header-link:hover, .header-link:focus {
    color: #404bbf;
}

.header-link-studio {
    
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.header-link-studio:hover, 
.header-link-studio:active, 
.header-link-studio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;        
    color: #404bbf;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
    
    

}
.header-contacts-list {
    display: flex;
        align-items: center;
    list-style-type: none;
    gap: 40px;
    
}
.contacts-item {

  

}
 
.contacts-link {
    
        font-family: "Roboto",
            sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        text-decoration: none;
        font-style: normal;
        padding: 24px 0;
        display: block;
}

.contacts-link:hover,
.contacts-link:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/*----SOLUTIONS-----*/

.hero {
    padding: 188px 0;
    text-align: center;
    margin: auto;
}

.solutions {
background-color: #2e2f42;
box-sizing: border-box;
}

.solutions-title {
    font-family: "Roboto",
            sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: auto;
        max-width: 496px;
        align-items: center;
        padding-bottom: 48px;


}


.solutions-button {

      
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
   min-width: 169px;
    

}

.solutions-button:hover,
.solutions-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
    
}


/*----FEATURES-----*/
.section {
    padding: 120px 0;
}

.features {}

.features-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
       


}

.features-list { 
    list-style-type: none;
    display: flex;
    gap: 24px;
    

   
}

.features-item {
    width: calc((100% - 72px) / 4);
    
}

.features-subtitle {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
        padding: 8px 0;
    }

.features-text {

    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: left;
    }


/*----TEAM-----*/

.team { 
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #f4f4fd;
    
}

.team-title {
    font-family: "Roboto",
        sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list { 
    display: flex;
    gap: 24px;
    list-style-type: none;

}


.team-item { 
    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff
    

}

.team-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff
}
.team-img {
    padding-bottom: 32px;
    gap: 32px;
    flex-shrink: 0;

}

.container-team {
    padding: 0 24px 32px 24px;
    max-width: 232px;
    align-items: center;
    margin: 0 auto;
   
}

.team-subtitle {
    font-family: "Roboto",
        sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding-bottom: 8px;
    




}

.team-text {
font-family: "Roboto",
    sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
    

/*------PORTFOLIO-----*/

.portfolio {
    align-items: center;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 60px;
}

.portfolio-list {
    display: flex; 
    gap: 60px 24px;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    
}

.portfolio-item {
    
    width: calc((100% - 48px) / 3);  
    
}

.portfolio-img {
    margin-bottom: 32px;

}

.cotainer-portfolio {
    border: 1px solid #e7e9fc;
        background-color: #fff;
 
}
.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-bottom: 8px;

}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*----FOOTER-----*/

.footer-container {
    display: inline-block;
    padding: 100px 0;
}



.footer {
    background-color: #2e2f42;
    
}

.footer-link {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;
    
}

.span-logo {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto",
        sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;

}
